
.vs/StupidMode/DesignTimeBuild/.dtbcache.v2
.vs/StupidMode/v17/.futdcache.v1
.vs/StupidMode/v17/.suo
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/StupidMode.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/StupidMode.csproj.AssemblyReference.cache
obj/Debug/net6.0/StupidMode.assets.cache
obj/StupidMode.csproj.nuget.dgspec.json
obj/StupidMode.csproj.nuget.g.props
.vs/StupidMode/FileContentIndex/964657f1-56bc-4df1-9ee3-a46f6b72cd3c.vsidx
.vs/StupidMode/DesignTimeBuild/.dtbcache.v2
.vs/StupidMode/v17/.suo
obj/Debug/net6.0/StupidMode.csproj.AssemblyReference.cache
.vs/StupidMode/v17/.suo
obj/Debug/net6.0/StupidMode.csproj.AssemblyReference.cache
