
.vs/ProjectEvaluation/stupidmode.metadata.v2
.vs/ProjectEvaluation/stupidmode.projects.v2
.vs/StupidMode/FileContentIndex/21e00a63-7623-4b7d-b1bc-69b1b306e235.vsidx
.vs/StupidMode/FileContentIndex/2335bd09-bbb0-4841-aaec-13f90b7bb92e.vsidx
*.vsidx
*.vsidx
.vs/StupidMode/FileContentIndex/21e00a63-7623-4b7d-b1bc-69b1b306e235.vsidx
.vs/StupidMode/FileContentIndex/21e00a63-7623-4b7d-b1bc-69b1b306e235.vsidx
.vs/StupidMode/FileContentIndex/2335bd09-bbb0-4841-aaec-13f90b7bb92e.vsidx
