
.vs/StupidMode/DesignTimeBuild/.dtbcache.v2
.vs/StupidMode/v17/.futdcache.v1
.vs/StupidMode/v17/.suo
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/StupidMode.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/StupidMode.csproj.AssemblyReference.cache
obj/Debug/net6.0/StupidMode.assets.cache
obj/StupidMode.csproj.nuget.dgspec.json
obj/StupidMode.csproj.nuget.g.props
.vs/StupidMode/FileContentIndex/964657f1-56bc-4df1-9ee3-a46f6b72cd3c.vsidx
.vs/StupidMode/DesignTimeBuild/.dtbcache.v2
.vs/StupidMode/v17/.suo
obj/Debug/net6.0/StupidMode.csproj.AssemblyReference.cache
.vs/StupidMode/v17/.suo
obj/Debug/net6.0/StupidMode.csproj.AssemblyReference.cache
.vs/StupidMode/FileContentIndex/695b812a-a8bd-4e48-af2e-afe75415ae49.vsidx
.vs/StupidMode/FileContentIndex/73329afa-c8a4-429c-8e40-2a780c68dc08.vsidx
obj/Debug/net6.0/StupidMode.assets.cache
obj/Debug/net6.0/StupidMode.csproj.AssemblyReference.cache
obj/Debug/net6.0/StupidMode.GeneratedMSBuildEditorConfig.editorconfig
.vs/StupidMode/FileContentIndex/9c917fb7-1be5-4967-91bc-f99c9eaecf30.vsidx
.vs/StupidMode/FileContentIndex/16d6217f-67e2-4f64-86af-ba9aeaa6ab0b.vsidx
*.vsidx
*.cache
*.editorconfig
*.editorconfig
*.cache
*.cache
*.1
.vs/ProjectEvaluation/stupidmode.metadata.v6.1
.vs/ProjectEvaluation/stupidmode.projects.v6.1
.vs/StupidMode/DesignTimeBuild/.dtbcache.v2
.vs/StupidMode/FileContentIndex/2c3f4637-0ad8-40bd-be68-ab2a77be7814.vsidx
.vs/StupidMode/FileContentIndex/57a000cd-db7c-4e03-9fea-06274f54f6dd.vsidx
.vs/StupidMode/v17/.suo
obj/Debug/net6.0/StupidMode.assets.cache
obj/project.assets.json
obj/project.nuget.cache
obj/StupidMode.csproj.nuget.dgspec.json
obj/StupidMode.csproj.nuget.g.props
